body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 500px;
}

.container span {
  outline: 0;
}

.page-title {
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: "Avenir Next";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.loading {
  margin: 40px auto 0;
  display: block;
}

/* Allow editing of blank div */
:empty {
    display: block;
    height: 1em;
}

#editor {
  width: 500px;
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.test-editor {
    width: 600px;
    height: 220px;
    display: block;
    margin: 0 auto;
    border: none;
}

.test-char {
    font-family: monospace;
    display: inline;
}

.author-cursor {
    position:absolute;
    width: 2px;
    background: #4BC067;
}

.author {
    position:absolute;
    bottom: 18px;
    font-family: sans-serif;
    font-size: 9px;
    padding: 2px;
    background: #4BC067;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
}
